Libraries used in the code
1. Pandas
2. Datetime

Format of result

Employee email('from'),sentiment_score_mnth1,sentiment_score_mnth2,sentiment_score_mnth3...

In [2]:
#importing libraries
import pandas as pd 
import datetime as dt

In [13]:
#reading the csv data
df = pd.read_csv('result/task1_result.csv', date_format='%m/%d/%Y')
df.head(3)

,Subject,body,date,from,processed_text,sentiment,sentiment_score
0,EnronOptions Update!,EnronOptions Announcement\n\n\nWe have updated...,5/10/2010,sally.beck@enron.com,enronoptions announcement updated enronoptions...,positive,1
1,(No Subject),"Marc,\n\nUnfortunately, today is not going to ...",7/29/2010,eric.bass@enron.com,"marc , unfortunately , today going work revenu...",positive,1
2,Phone Screen Interview - Shannon L. Burnham,"When: Wednesday, June 06, 2001 10:00 AM-11:00 ...",7/25/2011,sally.beck@enron.com,": wednesday , june 06 , 2001 10:00 am-11:00 ( ...",neutral,0

In [14]:
df.isnull().sum()

Subject             0
body                0
date                0
from                0
processed_text     31
sentiment           0
sentiment_score     0
dtype: int64

In [15]:
#find unique employees using 'from' column(email ids):
unique_employees = df['from'].unique()
unique_employees

array(['sally.beck@enron.com', 'eric.bass@enron.com',
       'johnny.palmer@enron.com', 'lydia.delgado@enron.com',
       'kayne.coulter@enron.com', 'patti.thompson@enron.com',
       'rhonda.denton@enron.com', 'don.baughman@enron.com',
       'john.arnold@enron.com', 'bobette.riner@ipgdirect.com'],
      dtype=object)

Dropping all the columns not needed for analysis of the employee_sentiment score

In [16]:
df = df.drop('Subject', axis=1)  # Dropping the 'subject' column as it is not needed for analysis
df = df.drop('body', axis=1) #Dropping the 'body' column as it is not needed for analysis
df = df.drop('processed_text', axis=1) #Dropping the 'processed_text' column as it is not needed for analysis
df = df.drop('sentiment', axis=1) #Dropping the 'sentiment' column as it is not needed for analysis

In [ ]:
df['date'] = pd.to_datetime(df['date']) #parsing date column to date time format
df['month'] = df['date'].dt.to_period('M') #creating a new column for month

In [ ]:
df.drop('date', axis=1) #removing the date column as it is not needed for analysis

                         from  sentiment_score    month
0        sally.beck@enron.com                1  2010-05
1         eric.bass@enron.com                1  2010-07
2        sally.beck@enron.com                0  2011-07
3     johnny.palmer@enron.com                0  2010-03
4     lydia.delgado@enron.com                1  2011-05
...                       ...              ...      ...
2186  johnny.palmer@enron.com                1  2011-06
2187  johnny.palmer@enron.com                1  2011-01
2188   don.baughman@enron.com                1  2011-01
2189  rhonda.denton@enron.com                1  2011-03
2190  johnny.palmer@enron.com                1  2010-10

[2191 rows x 3 columns]

In [27]:
#Grouping 'from'(email) and 'month' and getting the sum of scores for each employee per month
monthly_sentiment = df.groupby(['from', 'month'])['sentiment_score'].sum().reset_index()
#pivot table for better readablity and align with the result format
pivot_df = monthly_sentiment.pivot(index='from', columns='month', values='sentiment_score').fillna(0)

In [33]:
pivot_df = pivot_df.reindex(unique_employees).fillna(0) #reindexing to ensure all employees are included
pivot_df = pivot_df.sort_index(axis=1)

pivot_df.head()

pivot_df.to_csv('result/task3_result.csv', index=True, header=True)